body{
    font-family: 'Open Sans', sans-serif;
}
.text-primary{
    color: #a81c52;
}
.btn-primary{
    border-radius: 5px;
    background: #c7f304;
    border: 0;
    color: white;
    font-size: 20px;
    font-weight: 700px;
    padding: 15px 35px;
}
/* nav related style */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav-title{
color: var(--dark-01, #181818);
font-size: 45px;
font-weight: 800;
}
nav > ul{
    display: flex;
}
nav li {
    list-style: none;
    margin-right: 50px;
}
nav a{
    text-decoration: none;
    color: #474747;
}