body{
    font-family: 'Open Sans', sans-serif;
}
.text-primary{
    color: #920a3e;
}
.btn-color{
    border-radius: 5px;
    background: #89bae7;
    border: 0;
    color: white;
    font-size: 20px;
    font-weight: 700px;
    padding: 15px 35px;
}
/* nav related style */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 100px;
}
.nav-title{
color: var(--dark-01, #181818);
font-size: 45px;
font-weight: 800;
}
nav > ul{
    display: flex;
    align-items: center;
}
nav li {
    list-style: none;
    margin-right: 50px;
}
nav a{
    text-decoration: none;
    color: #524f51;
}

.header{
    background-color: #e2a6bd;    
}
.banner {
    background-image: url('../images/img.jpg');
    background-repeat: no-repeat;background-position: bottom right;
    display: flex;
    align-items: center;
    background-size: cover;
    padding: 100px 0;
}
.banner-text{
    margin: 0 100px;
}
.banner-h5{

}