body{
    font-family: 'Open Sans', sans-serif;
}
.text-primary{
    color: #920a3e;
}
.btn-color{
    border-radius: 5px;
    background: #89bae7;
    border: 0;
    color: white;
    font-size: 20px;
    font-weight: 700px;
    padding: 15px 35px;
}
/* nav related style */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 100px;
}
.nav-title{
color: var(--dark-01, #181818);
font-size: 45px;
font-weight: 800;
}
nav > ul{
    display: flex;
    align-items: center;
}
nav li {
    list-style: none;
    margin-right: 50px;
}
nav a{
    text-decoration: none;
    color: #524f51;
}

.header{
    background-color: #e2a6bd;    
}
.banner {
    background-image: url('../images/img.jpg');
    background-repeat: no-repeat;background-position: bottom right;
    display: flex;
    align-items: center;
    background-size: cover;
    padding: 100px 0;
}
.banner-text{
    margin: 0 100px;
}
.banner-h5{ 
    
    text-align: center;
}
.banner-h1{
    
    text-align: center;
}
.banner-p{
    text-align: center;
    margin: 50px 200px;

}
/* header section end */

/* main section */
.about{
    background-color: #e2a6bd;
}

.section-h3{
    color: #181818;
    text-align: center;
    padding-top: 80px;
    padding-bottom: 40px;
    margin: 0;
}
.section-p{
    color: #757575;
    text-align: center;
    font-size: 18px;
    font-family: Open Sans;
    padding-bottom: 80px;
    padding-left: 100px;
    padding-right: 100px;
}
.info-container{
    border-radius: 10px;
    margin: 50px ;
    display: flex;
    justify-content: space-around;
}
.info{
    text-align: center;
    padding-left: 115px;
    padding-bottom: 40px;
}
.picture{
    height: 25px;
    weight: 25px;
}
.latest-post{
    background-color: #9ccce7;
    padding: 80px 100px;
}
.section-h2{
    color: #181818;
    text-align: center;
    padding-bottom: 80px;
    margin: 0;
}
.latest-post-container{
    
    display: flex;
    justify-content: space-between;
    gap: 24px;
}
.post{
    text-align: center;
}
.pictures{
    height: 200px;
    weight: 200px;
    border-radius: 100px;
}
.creative-crafting-container{
    display: flex;
    gap: 30px;
    padding: 80px 100px;
}
.craft-image{
    height: 400px;
    weight: 400px;
}
.crafting-h4{
    text-align: center;
}
.read-more{
    background-color: antiquewhite;
    color: brown;
    border: 2px;
    padding: 4px 6px;
}
